[tools]
flux2 = "latest"
gh = "latest"
k3d = "latest"
k9s = "latest"
kubectl = "latest"
pre-commit = "latest"
python = "3.13"
ruff = "latest"
trivy = "latest"
uv = "latest"

[settings]
python_compile = false
idiomatic_version_file_enable_tools = ["python"]
experimental = true

[env]
APP_REPO = "study-app"
GITOPS_REPO = "study-app-gitops"

[tasks.k8s-setup-local]
description = "Set up a basic Kubernetes cluster for development that builds the local images and applies them"
run = "bash ./kubernetes/setup_cluster_local"

[tasks.k8s-setup-minimal]
description = "Set up a minimial Kubernetes cluster for quick testing"
run = "bash ./kubernetes/setup_cluster_minimal"

[tasks.e2e-test]
description = "Run end-to-end tests on the kubernetes deployment"
run = "cd ./kubernetes && uv run e2e_test.py"

[tasks.setup-deploy-key]
description = "Set up deploy keys for our repo"
run = "bash ./scripts/setup_deploy_key"

[tasks.k8s-setup-gitops]
description = "Set up a cluster configured with GitOps using flux"
run = "bash ./kubernetes/setup_cluster_gitops"
